@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{font-family:miama;font-style:italic;font-weight:400;src:local('Miama'),url(https://fonts.cdnfonts.com/s/302/Miama-Regular.woff) format('woff')}@font-face{font-family:miama;font-style:normal;font-weight:300;src:local('Miama'),url(https://fonts.cdnfonts.com/s/302/Miama.woff) format('woff')}

/* Shared Styles */

.inter-family{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .great-vibes-regular {
    font-family: "Miama", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .common-bg{
    background-color: black;
  }
  .white-color{
    color: rgba(255, 255, 255, 1);
  }

  .share-font{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  .display-flex{
    display: flex;
  }
  .btn-primary{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 42px;
    padding: 16px;
    width: 150px;
  }

  main{
    max-width: 1060px;
    margin: 0 auto;
  }

  /* Identical Styles */

  /* Header */

  /* nav styles */

  header{
    background-color: rgb(17, 17, 17);
    padding: 10px;
    border-radius: 12px;
  }

  .navbar,.banner{
    max-width: 1060px;
    margin: 0 auto;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .menu{
    display: none;
  }
  .nav-items{
    display: flex;
    justify-content: space-between;
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px;
  }
  .nav-item{
    list-style: none;
    margin-right: 47px;
    
  }
  .link-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
  }
  .brand{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
  }
  #home{
    background-color: rgb(230, 83, 60);
    width: auto;
    border-radius: 46px;
    font-weight: 600;
    padding: 8px;
    width: auto;
  }

  /* Banner */
  .banner{
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .banner-content{
    max-width: 520px;
  }
  .banner-title{
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 27px;
  }
 #shape{
    font-size: 5rem;
    font-weight: 400;
    
 }

  .banner-discription{
    margin-bottom: 28px;
  }
  .Download{
    background-color:black ;
    border: 1px solid white;
  }
  
  .banner-image > img{
    width: 100%;
  }

  #Work-out-button{
    margin-top:100px;
    margin-left: 0px;
    backdrop-filter: blur(5px);
    position:absolute;
  }
  
  #Work-out-button , #Tutorial-button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding:8px 32px;
  }
  .Work-out-button-header{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 8px;
  }
  .Workout-description , .Tutorial-description{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
  }
  #Tutorial-button{
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: -200px;
    margin-left: -100px;
    backdrop-filter: blur(5px);
    position: absolute;
  }
  .ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
  }

  .Tutorial-button-header{
    font-size: 1.5rem;
    font-weight: 900;
  }
  /* Habit section */

  .habits{
    padding: 12px;
    margin-bottom: 30px;
  }

  .habit-container{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
  }
  .habit-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .card-container{
    gap: 40px;
    align-items: center;
  }
  .card{
    max-width: 231px;
    text-align: center;
  }
  .habit-card-image-container{
    max-width: 232px;
    margin-top: 20px;
  }
  
   .habit-card-image-container > img{
    width: 100%;
    border-radius: 50%;
  }

  /* Run Section */
  .Extra-Run{
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    gap: 167px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
  }
  .extra-run-description-container{
    max-width: 443px;
    text-align: justify;
  }
.extra-run-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.Extra-Run-img-container  {
    width: 50%;
}
.Extra-Run-img-container img{
    width: 100%;
    border-radius: 18px;
}

/* BMI Section */
.bmi-primary{
  max-width: 641px;
  margin: 0 auto;
}
.bmi-title{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 18px;
  max-width: 1040px;
}
.bmi-form{
  margin-left: 2px;
}

form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.second{
  grid-column: span 2;

}

input,select{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px;
  border: none;
  border-radius: 18px;
}

select{
  margin-right: 10px;
}


/* Team */
.team{
    padding: 10px;
}
.team-description-container{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.team-title{
    font-size: 3rem;
    font-weight: 900;
}
.team-image-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    background-color:rgb(34, 34, 34); 
    padding: 10px;
    border-radius: 18px;

}
.team-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.info-container{
    position: absolute;
    margin-top:-100px;
    margin-left: 20px;
}
/* Footer */
footer{
max-width:1060px;
margin: 0 auto;
background-color: rgba(255, 255, 255, 0.1);
padding: 20px; 
border-radius: 18px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
footer ul li {
  margin-top: 20px;
  
}

.Contract-list-title{
  font-size: 2rem;
  font-weight: 700;
}
hr{
  width: 100%;
  gap: none;
}
.copyright{
  margin: 0 auto;
  text-align: center;
 
}

  /* Media Section */
  @media screen and (max-width:576px) {

    /* Navbar */

    .nav-items{
      display: none;
    }
    .menu{
      display:block ;
      
    }
    .navbar{
      padding: 10px;
    }
    
    /* Banner */

    .banner{
        flex-direction: column;
        text-align: center;
    }
  
    #Tutorial-button{
        margin-top:-350px ;
        margin-left: 00px;
    }

    /* Extra Run */
    .card-container{
        flex-direction: column;
    }
    .Extra-Run{
        flex-direction: column;
        gap: 20px;
    }
    .Extra-Run .btn-primary{
        width: 90%;
    }
    .Extra-Run-img-container{
        width: 90%;
    }
    .Extra-Run-img-container img{
        width: 100%;
    }

    /* BMI */
    .bmi-details{
        grid-template-columns: repeat(1,1fr);
    }
    .form{
        grid-template-columns: repeat(1,1fr);
        gap: 3px;
        max-width: 20px;
        align-items: center;
    }

    /* Team */
    .team-image-container{
        grid-template-columns: repeat(1,1fr);

    }
    /* Footer */
    
.footer{
  grid-template-columns: repeat(1,1fr);
  margin-left: 20px;
}
.brand{
  width: auto;
}

.my-brand{
  max-width: 443px;
  margin: 0 auto;
  margin-left: 0px;
}

}
  